<!DOCTYPE html>
<html lang="lt-lt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block title %}cooFood{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('css/alertify.core.css') }}" rel="stylesheet">
        <link href="{{ asset('css/alertify.default.css') }}" rel="stylesheet">
    {% endblock %}


</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{% trans %}cooFood{% endtrans %}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{% if app.request.pathinfo == '/' %} class="active"{% endif %}><a href="{{ path('homepage') }}">{% trans %}Pagrindinis{% endtrans %}</a></li>
                    <li><a href="{{ path('howto') }}">{% trans %}Kaip naudotis?{% endtrans %}</a></li>
                    <li><a href="{{ path('supplier') }}">{% trans %}Tiekėjų sąrašas{% endtrans %}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><p></p></li>
                        <li{% if app.request.pathinfo == '/event/new' %} class="active"{% endif %}><a href="/event/new">{% trans %}Naujas renginys{% endtrans %}</a></li>
                        <li{% if app.request.pathinfo == '/profile/' or app.request.pathinfo == '/profile/edit' or app.request.pathinfo == '/profile/change-password' %} class="active"{% endif %}><a href="{{ path('fos_user_profile_show') }}"><strong>{{ app.user.name }} {{ app.user.surname }}</strong> {% trans %}paskyra{% endtrans %}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% else %}
                        <li{% if app.request.pathinfo == '/login' %} class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li{% if app.request.pathinfo == '/register/' %} class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block body %}
                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p class="text-muted">© 2015 Visos teisės saugomos. Team: cooFood</p>
        </div>
    </footer>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}">\x3C/script>')</script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        <script src="{{ asset('js/alertify.js') }}"></script>
    {% endblock %}

    {% if app.request.hasPreviousSession %}
        <script type="text/javascript">
        {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
                alertify.success("{{ msg }}");
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
                alertify.error("{{ msg }}");
            {% endfor %}
        {% endif %}
        </script>
    {% endif %}

</body>
</html>
