
<form action="{{ path('order_create', {'idSupplier': supplier, 'idEvent' : event }) }}" method="post">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</form>


<ul class="nav nav-tabs">
    <li class="active"><a href="#myOrders" data-toggle="tab">Mano užsakymai</a></li>
    <li><a href="#sharedOrders" data-toggle="tab">Bendri užsakymai</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="myOrders">
        {% if orders != null %}
            {% for order in  orders  %}
                <li>Kiekis:{{ order.quantity }}     {{ order.idProduct.name }}     Žmoniu kiekis:{{ order.shareLimit }}</li>
                <form action="{{ path('order_delete', { 'idOrderItem' : order.id, 'idEvent':  event  }) }}" >
                    <input class="btn btn-primary" type="submit" value="Panaikinti" />
                </form>
            {% endfor %}
        {% endif %}
        {% if mySharedOrders != null %}
            {% for mySharedOrder in  mySharedOrders  %}
                <li>SHARED Kiekis: {{ mySharedOrder.quantity }}      {{ mySharedOrder.idProduct.name }}     Žmoniu kiekis:{{ mySharedOrder.shareLimit }}</li>
                <form action="{{ path('order_delete', { 'idOrderItem' : mySharedOrder.id, 'idEvent':  event  }) }}" >
                    <input class="btn btn-primary" type="submit" value="Panaikinti" />
                </form>
            {% endfor %}
        {#{% else %}#}
            {#<p>Nėra sukurta jokių užsakymų.</p>#}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="sharedOrders">
        {% if sharedOrders != null %}
            {% for sharedOrder in  sharedOrders  %}
                <li>SHARED Kiekis:{{ sharedOrder.quantity }}      {{ sharedOrder.idProduct.name }}     Žmoniu kiekis:{{ sharedOrder.shareLimit }}</li>
                <form action="{{ path('sharedOrder_create', { 'idOrderItem' : sharedOrder.id, 'idEvent':  event  }) }} "  method="get">
                    <input class="btn btn-primary" type="submit" value="Prisijungti" />
                </form>
            {% endfor %}
        {% endif %}
    </div>
</div>
<br>
<br>
<br>
