{% extends '::base.html.twig' %}

{% block body -%}
<h1>Event</h1>

<h1>{{ entity.name }}</h1>

<div class="row">
    <div class="col-md-6">

        <table class="record_properties">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Eventdate</th>
                <td>{{ entity.eventDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Orderdeadlinedate</th>
                <td>{{ entity.orderDeadlineDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Idsupplier</th>
                <td>{{ entity.idSupplier }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>Reqapprove</th>
                <td>{{ entity.reqApprove }}</td>
            </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-default" onClick="location.href='/'">Atšaukti</button>
        <button type="button" class="btn btn-primary" onClick="location.href='{{ path('event_edit', { 'id': entity.id }) }}'">Redaguoti</button>

    </div>
    <div class="col-md-6">
        Kviesti svečius:<br/>
        <select size="10" multiple>
            {% for user in allUsers %}
                <option value="{{ user.id }}">{{ user.name }} {{ user.surname }} {{ user.email }}</option>
            {% endfor %}
        </select><br/>
        Dalyviai:<br/>
        <table border="1">
        <tr><th>Svečias</th><th>Patvirtinti</th><th>Pašalinti</th></tr>
            {% for participant in participants %}
                <tr><td>{{ participant.user }}</td>
                    <td>{{ participant.addLink | raw }}</td>
                    <td>{{ participant.delLink | raw }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
