{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12 text-right">
        <a type="button" class="btn btn-primary btn-xs" href="{{ path('event_show', { 'id': entity.id }) }}">{% trans %}Atgal į renginį{% endtrans %}</a>
    </div>
</div>

<legend>{{ entity.name }}</legend>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <th>Renginio pradžia:</th>
                    <td>{{ entity.eventDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Užsakymų pabaigos data:</th>
                    <td>{{ entity.orderDeadlineDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Vieta:</th>
                    <td>{{ entity.address }}</td>
                </tr>
                <tr>
                    <th>Aprašymas:</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Užsakymų tiekėjas:</th>
                    <td>{{ entity.idSupplier }}</td>
                </tr>
                <tr>
                    <th>Renginio organizatorius:</th>
                    <td>{{ entity.idUser }}</td>
                </tr>
                <tr>
                    <th>Renginys:</th>
                    <td>{% if entity.visible %}viešas{% else %}privatus{% endif %}</td>
                </tr>
                <tr>
                    <th>Reikalingas naujų svečių patvirtinimas:</th>
                    <td>{% if entity.reqApprove %}taip{% else %}ne{% endif %}</td>
                </tr>
            </tbody>
        </table>

        <a type="button" class="btn btn-default" href="{{ path('event_edit', { 'id': entity.id }) }}">{% trans %}Redaguoti{% endtrans %}</a>
        <button type="button" class="btn btn-primary" onClick="location.href='{{ path('event_summary', { 'id': entity.id }) }}'">Renginio santrauka</button>

    </div>

    <div class="col-md-4">
        <p>{% trans %}Kviesti svečius:{% endtrans %}</p>
        {{ form(inviteUsersForm) }}
        <label for="form_email">{% trans %}Išsiųsti kvietimą el. paštu:{% endtrans %}</label>
        {{ form(inviteEmailForm) }}
    </div>

    <div class="col-md-4">
        <p>{% trans %}Dalyviai:{% endtrans %}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Svečias{% endtrans %}</th>
                    <th>{% trans %}Patvirtinti{% endtrans %}</th>
                    <th>{% trans %}Pašalinti{% endtrans %}</th>
                </tr>
            </thead>

            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.user }}</td>
                        <td>{% if participant.addLink %}{{ form(participant.addLink) }}{% endif %}</td>
                        <td>{% if participant.delLink %}{{ form(participant.delLink) }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <a type="button" class="btn btn-primary btn-xs" href="{{ path('event_show', { 'id': entity.id }) }}">{% trans %}Atgal į renginį{% endtrans %}</a>
    </div>
</div>
{% endblock %}
