{% extends '::base.html.twig' %}
{% block body -%}
    {% if error is defined %}
        {{ error }}
    {% else %}
        <div class="row"><h1>{{ entity.name }}</h1></div>
        <div class="row">
            <div class="col-md-6">

                Renginio pradžia: {{ entity.eventDate.date|date("Y-m-d H:i") }}<br/>
                {{ entity.address }}<br/>
                <br/>
                {{ entity.description }}<br/>
                <br/>
                Renginys: {% if entity.visible %}viešas{% else %}privatus{% endif %}<br/>
                <br/>
                Užsakymų pabaigos data: {{ entity.orderDeadlineDate.date|date("Y-m-d H:i") }}<br/>
                Tiekėjas: {{ entity.idSupplier.id }}<br/><br/>

                {% if organizer %}
                    <button type="button" class="btn btn-primary btn-xs" onClick="location.href='{{ path('event_administrate', { 'id': entity.id }) }}'">Administruoti</button>
                {% endif %}


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if joined == false %}
                    <form action="{{ path('userevent_create', { "event":  entity.id  }) }}" method="post"  >
                        <input class="btn btn-primary btn-xs" type="submit" value="Dalyvauti" />
                    </form>
                    {% else  %}
                        {% if organizer == false %}
                        <form action="{{ path('userevent_delete', { "event":  entity.id  }) }}" >
                            <input class="btn btn-primary btn-xs" type="submit" value="Palikti" />
                        </form>
                        {% endif %}
                    {% endif %}
                {% else %}
                <!-- please login -->
                {% endif %}

            </div>
            <div class="col-md-6">
                <strong>Dalyviai:</strong>
                {% if participants %}
                <div style="height:200px;width:300px;overflow:auto;">
                    {% for participant in participants %}
                        <p>{{ participant }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if joined %}
                {% if organizer or (entity.reqApprove and userApprove or not entity.reqApprove and not userApprove)  %}
                <h2>ORDERS HERE</h2>
               {# {% include 'cooFoodEventBundle:Order:order.html.twig' with {'entity' : entity} %} #}
                {{ render(controller('cooFoodEventBundle:Order:index', { 'idSupplier' :  entity.idSupplier.id, 'idEvent' : entity.id } )) }}
                {% else %}
                    Jūsų dar nepatvirtino renginio organizatorius.
                {% endif %}
            {% endif %}
        </div>
{% endblock %}
