{% extends '::base.html.twig' %}
{% block body -%}
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <div class="row">
        {% if (joined == false) and (entity.visible == false)%}
            <legend class="event-title">{{ entity.name }}</legend>
            <p class="bg-danger text-center">{% trans %}Renginys yra privatus.{% endtrans %}</p>

        {% else %}
            <div class="col-md-6">
                <legend class="event-title">{{ entity.name }}</legend>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Renginio pradžia:</th>
                            <td>{{ entity.eventDate|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Vieta:</th>
                            <td>{{ entity.address }}</td>
                        </tr>
                        <tr>
                            <th>Aprašymas:</th>
                            <td>{{ entity.description }}</td>
                        </tr>
                        <tr>
                            <th>Renginys:</th>
                            <td>{% if entity.visible %}
                                    {% trans %}viešas{% endtrans %}
                                {% else %}
                                    {% trans %}privatus{% endtrans %}
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Užsakymų pabaigos data:</th>
                            <td>{{ entity.orderDeadlineDate.date|date("Y-m-d H:i") }}</td>
                        </tr>
                        <tr>
                            <th>Tiekėjas:</th>
                            <td>{{ entity.idSupplier.name }}</td>
                        </tr>
                        <tr>
                            <th>Renginio organizatiorius:</th>
                            <td>{{ entity.idUser.name }} {{ entity.idUser.surname }}</td>
                        </tr>
                        </tbody>
                    </table>

                        {% if organizer %}
                            <a type="button" class="btn btn-default" href="{{ path('event_administrate', { 'id': entity.id }) }}">{% trans %}Administruoti{% endtrans %}</a>
                        {% endif %}

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if not deadlineStatus %}
                                {% if joined == false %}

                                    <form action="{{ path('userevent_create', { "event":  entity.id  }) }}" method="post">
                                        <input class="btn btn-default" type="submit" value="{% trans %}Dalyvauti{% endtrans %}" />
                                    </form>
                                {% else  %}
                                    {% if organizer == false %}
                                        <form action="{{ path('userevent_delete', { "idEvent":  entity.id  }) }}" >
                                            <input class="btn btn-default" type="submit" value="{% trans %}Palikti{% endtrans %}" />
                                        </form>
                                    {% endif %}
                                {% endif %}

                            {% endif %}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                {% trans %}Pirma prisijunkite{% endtrans %}
                            </div>
                        {% endif %}
                    {#</div>#}
                {#</div>#}

            </div>
            <div class="col-md-6">
                <table class="table table-striped users users-table">
                    <legend>{% trans %}Dalyviai:{% endtrans %}</legend>
                    <tbody class="users-tbody">
                    {% if participants %}
                            {% for participant in participants %}
                                <tr class="users-tr"><td>{{ participant }}</td></tr>
                            {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            </div>
           {% if joined %}
                    <div class="row">
                        <div class="col-xs-12">
                            {% if organizer or (entity.reqApprove and userApprove or not entity.reqApprove and not userApprove)  %}
                                {% if not deadlineStatus %}
                                    <legend>{% trans %}Užsakymai{% endtrans %}</legend>
                                    {{ render(controller('cooFoodEventBundle:Order:index', { 'idSupplier' :  entity.idSupplier.id, 'idEvent' : entity.id } )) }}
                                {% else %}
                                    <legend>{% trans %}Užsakymų laikas baigėsi{% endtrans %}</legend>
                                    {% if payAmount %}
                                        <a type="button" class="btn btn-default" href="{{ path('event_payment', { 'id': entity.id }) }}">{% trans %}Apmokėti{% endtrans %}</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p class="bg-danger text-center">{% trans %}Jūsų dar nepatvirtino renginio organizatorius.{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}