{% extends '::base.html.twig' %}
{% block body %}
    <h1>Renginio santrauka</h1>
    <br>
    <h3>Užsakymai pagal dalyvius:</h3>
    {% if userOrders != null %}
        <table class="table table-hover">
            <tr>
                <th>Dalyvis</th>
                <th>Produktai</th>
                <th>Mokėjimas</th>
                <th>Skola</th>
            </tr>
        {% for userOrder in  userOrders  %}
            <tr>
            {% if loop.revindex > 4 %}

                <td>{{ userOrder.name }} {{ userOrder.surname }}</td>
                <td>
                    <ol>
                    {% for order in  userOrders.orders[loop.index-1]  %}
                       <li>{{ order.id }} {{ order.idProduct.name }} {{ order.quantity }}vnt.</li>
                    {% endfor %}
                    <hr>
                    {% for sharedOrder in  userOrders.sharedOrders[loop.index-1] %}
                            <li>{{ sharedOrder }}</li>
                    {% endfor %}
                    </ol>
                </td>
                <td>{{ userOrders.cost[loop.index-1] }}</td>
                <td>{{ userOrders.debt[loop.index-1] }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <h3>Visi užsakymai:</h3>
    {% if allOrders != null %}
        <table class="table table-hover">
            <tr>
                <th>Produktas</th>
                <th>Kiekis</th>
                <th>Kaina (eur)</th>
            </tr>
        {% for order in  allOrders  %}
            {% if loop.revindex > 4 %}
                    <tr>
                        <td>{{ order.idProduct.name }}</td>
                        <td>{{ allOrders.quantity[loop.index-1] }}</td>
                        <td>{{ allOrders.price[loop.index-1] }}</td>
                    </tr>
            {% endif %}
        {% endfor %}
            <tr>
                <th></th>
                <th>Bendra suma:</th>
                <td>{{ allOrders.cost }}</td>
            </tr>
        </table>
    {% endif %}
    {% if allOrders.supplier != null %}
        <h3>Tiekėjo kontaktai:</h3>
        <h4>"{{ allOrders.supplier.name }}"</h4>
        <h4>{{ allOrders.supplier.location }}</h4>
        <h4>{{ allOrders.supplier.email }}</h4>
        <h4>{{ allOrders.supplier.phone }}</h4>
    {% endif %}
{% endblock %}