{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#publicEvents" data-toggle="tab">Vieši renginiai</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a href="#myEvents" data-toggle="tab">Mano renginiai</a></li>
        {% endif %}
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="publicEvents">
            <table class="table borderless table-hover">
            {% if events %}
            {% for event in events %}
                <tr>
                    <td>
                        <a href="event/{{ event.id }}">{{ event.name }}</a><br/>
                        Data: {{ event.eventDate.date|date("Y-m-d") }}<br/>
                        Vieta: {{ event.address }}
                    </td>
                </tr>
            {% endfor %}

            {% else %}
                <tr><td>Viešų renginių nėra.</td></tr>
            {% endif %}
             </table>
        </div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="tab-pane fade" id="myEvents">
            <table class="table borderless table-hover">
                {% if my_events  %}
                {% for event in my_events %}
                    <tr>
                        <td>
                            <a href="event/{{ event.id }}">{{ event.name }}</a><br/>
                            Data: {{ event.eventDate.date|date("Y-m-d") }}<br/>
                            Vieta: {{ event.address }}
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr><td>Nedalyvaujate jokiuose renginiuose.</td></tr>
                {% endif %}
            </table>
        </div>
        {% endif %}
    </div>

{% endblock %}

