{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#publicEvents" data-toggle="tab">{% trans %}Vieši renginiai{% endtrans %}</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="#myEvents" data-toggle="tab">{% trans %}Mano renginiai{% endtrans %}</a></li>
        {% endif %}
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="publicEvents">
            {% if events %}
                {% set publicCount = null %}
                {% for event in events %}
                    {% if event.visible %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>{{ event.name }}</h3>
                                    <p>Data: {{ event.eventDate.date|date("Y-m-d") }}</p>
                                    <p>Vieta: {{ event.address }}</p>
                                    <p>{{ event.description }}</p>

                                    <a href="event/{{ event.id }}" class="btn btn-primary" role="button">{% trans %}Užeiti{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        {% set publicCount = 'ok' %}
                    {% endif %}
                {% endfor %}
                {% if publicCount is null %}
                    <div class="col-xs-12">
                        <div class="alert alert-warning" role="alert">{% trans %}Viešų renginių nėra.{% endtrans %}</div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-xs-12">
                    <div class="alert alert-warning" role="alert">{% trans %}Viešų renginių nėra.{% endtrans %}</div>
                </div>
            {% endif %}
        </div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="tab-pane fade" id="myEvents">
            {% if my_events  %}
                {% for event in my_events %}

                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{ event.name }}</h3>
                                <p>Data: {{ event.eventDate.date|date("Y-m-d") }}</p>
                                <p>Vieta: {{ event.address }}</p>
                                <p>{{ event.description }}</p>

                                <a href="event/{{ event.id }}" class="btn btn-primary" role="button">{% trans %}Užeiti{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12">
                    <div class="alert alert-warning" role="alert">{% trans %}Nedalyvaujate jokiuose renginiuose.{% endtrans %}</div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}

