{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tiekėjų sąrašas</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Adresas</th>
            <th>Kontaktai</th>
            <th>Aprašymas</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.phone }}<br/>{{ entity.email }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}