{% trans_default_domain 'FOSUserBundle' %}

{% if form_errors(form.email) or form_errors(form.name) or form_errors(form.surname) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
    <div class="alert alert-danger" role="alert">
        {{ form_errors(form.email) }}
        {{ form_errors(form.name) }}
        {{ form_errors(form.surname) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
{% endif %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <legend>{% trans %}Registracija{% endtrans %}</legend>
    {{ form_start(form, {'attr': {'class': 'fos_user_registration_register', 'id': 'register-form'} }) }}
    <div class="form-group">
        <label for="email">{{ form_label(form.email) }}</label>
        <div class="input-group">
            <span class="input-group-addon">@</span>
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="name">{{ form_label(form.name) }}</label>
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="surname">{{ form_label(form.surname) }}</label>
        {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="name">{{ form_label(form.plainPassword.first) }}</label>
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="name">{{ form_label(form.plainPassword.second) }}</label>
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button type="submit" class="btn btn-success">{{ 'registration.submit'|trans }}</button>
    <a type="button" class="btn btn-danger pull-right" href="/">{% trans %}Atgal{% endtrans %}</a>
    {{ form_end(form, {'attr': {'class': 'fos_user_registration_register', 'id': 'register-form'} }) }}
</form>