{% trans_default_domain 'FOSUserBundle' %}

<strong class="alert-danger">
    {{ form_errors(form.current_password) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.second) }}
</strong>
<form class="form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <fieldset>
        <legend>Keisti slaptažodį</legend>
        {{ form_start(form, {'attr': {'class': 'fos_user_change_password', 'id': 'password-form'} }) }}

        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">{{ form_label(form.current_password) }}</label>
            <div class="col-lg-10">
                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <label for="password.first" class="col-lg-2 control-label">{{ form_label(form.plainPassword.first) }}</label>
            <div class="col-lg-10">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            <label for="password.second" class="col-lg-2 control-label">{{ form_label(form.plainPassword.second) }}</label>
            <div class="col-lg-10">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        {{ form_end(form, {'attr': {'class': 'fos_user_change_password', 'id': 'password-form'} }) }}
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
            .<button type="button" class="btn btn-default" onClick="location.href='../profile'">Atšaukti</button>
        </div>
    </fieldset>
</form>
