{% trans_default_domain 'FOSUserBundle' %}

{% if form_errors(form.current_password) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
    <div class="alert alert-danger" role="alert">
        {{ form_errors(form.current_password) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
{% endif %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <legend>{% trans %}Keisti slaptažodį{% endtrans %}</legend>
    {{ form_start(form, {'attr': {'class': 'fos_user_change_password', 'id': 'password-form'} }) }}
    <div class="form-group">
        <label for="name">{{ form_label(form.current_password) }}</label>
        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="name">{{ form_label(form.plainPassword.first) }}</label>
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        <label for="name">{{ form_label(form.plainPassword.second) }}</label>
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button type="submit" class="btn btn-success">{{ 'change_password.submit'|trans }}</button>
    <a type="button" class="btn btn-danger pull-right" href="/profile">{% trans %}Atšaukti{% endtrans %}</a>
    {{ form_end(form, {'attr': {'class': 'fos_user_change_password', 'id': 'password-form'} }) }}
</form>